/* reset */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

*, ::before, ::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    box-sizing: border-box;
    list-style: none;
    line-height: 1.5;
    color: #1d1d1f;
    word-break: break-all;
}

.visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    z-index: -1000;
    user-select: none;
    -webkit-user-select: none;
}

/* styles */

/*header*/
header {
    position: fixed;
    width: 100%;
    z-index: 100;
    /* -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255,255,255,0.72); */
}

header #menu-state {
    display: none;
}

scroll-actvie {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255,255,255,0.72);
}

#main-menu {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 60px;
}

.nav-logo small {
    font-size: 14px;
    font-weight:400;
    opacity: 80%;
}

.nav-logo strong {
    display: block;
    font-size: 24px;
}

#main-menu .menu-list {
    position: absolute;
    right: 60px;
    top: 10px;
    transform: translateY(50%);
}

#main-menu .menu-list li {
    margin-left: 20px;
    float: left;
}

#main-menu .menu-list li a{
    font-size: 18px;
    color: #1d1d1f;
}

#main-menu .menu-open {
    display: none;
}

#main-menu .menu-state-label {
    display: none;
}

#main-menu .menu-icon-top-cont {
    position: absolute;
    width: 48px;
    height: 48px;
}

#main-menu .menu-icon-top {
    position: absolute;
    width: 28px;
    border: 1px solid #1d1d1f;
    left: 50%;
    top: 12px;
    transform: translate(-50%, 0px);
}

#main-menu .menu-icon-middle-cont {
    position: absolute;
    width: 48px;
    height: 48px;
}

#main-menu .menu-icon-middle {
    position: absolute;
    width: 28px;
    border: 1px solid #1d1d1f;
    left: 50%;
    bottom: 23px;
    transform: translate(-50%, 0px);
}

#main-menu .menu-icon-bottom-cont {
    position: absolute;
    width: 48px;
    height: 48px;
}

#main-menu .menu-icon-bottom {
    position: absolute;
    width: 28px;
    border: 1px solid #1d1d1f;
    left: 50%;
    bottom: 12px;
    transform: translate(-50%, 0px);
}

@media only screen and (max-width:520px) {
    #main-menu {
        padding: 10px 30px;
        
    }

    .nav-logo {
        text-align: right;
    }
    
    #main-menu .menu-list {
        display: none;
        position: initial;
        text-align: center;
    }
    
    #main-menu .menu-list li {
        margin-left: 0;
        float: none;
        border-top: 1px solid #565656;
        padding: 10px 0;
    }
    
    #main-menu .menu-list li a{
        font-size: 24px;
        color: #fff;
        
    }

    #main-menu .menu-open {
        display: block;
        color: #fff;
        position: absolute;
        top: 10px;
        width: 48px;
        height: 48px;
        z-index: 10;
    }

    #main-menu .menu-close {
        display: none;
    }
    
    #main-menu .menu-state-label {
        display: block;
        position: absolute;
        top: 10px;
        width: 48px;
        height: 48px;
        pointer-events: auto;
        z-index: 3;
    }

    /* #header .menu-state:checked ~ #main-menu, */

    #menu-state:target ~ #main-menu {
        height: 100vh;
        background-color: #1d1d1f;
    }

    #menu-state:target ~ #main-menu .nav-logo small {
        color: #ffffff;
    }
    
    #menu-state:target ~ #main-menu .nav-logo strong {
        color: #ffffff;
    }

    #menu-state:target ~#main-menu .menu-open {
        display: none;
    }

    #menu-state:target ~ #main-menu .menu-close {
        display: block;
        color: #fff;
        position: absolute;
        top: 10px;
        width: 48px;
        height: 48px;
        z-index: 10;
    }

    #menu-state:target ~ #main-menu .menu-list {
        display: block
    }
    
    #menu-state:target ~ #main-menu .menu-icon-top {
        position: absolute;
        border: 1px solid #ffffff;
        left: 50%;
        top: 12px;
        transform: translate(-50%, 0px);
    }
    
    #menu-state:target ~ #main-menu .menu-icon-middle {
        position: absolute;
        border: 1px solid #ffffff;
        left: 50%;
        bottom: 23px;
        transform: translate(-50%, 0px);
    }
    

    #menu-state:target ~ #main-menu .menu-icon-bottom {
        position: absolute;
        border: 1px solid #ffffff;
        left: 50%;
        bottom: 12px;
        transform: translate(-50%, 0px);
    }
    
}



/* .menu-toggle .icon {
    mask-image: url(./images/menu.svg);
    -webkit-mask-image: url(./images/menu.svg);
    background-color: #1d1d1f;
} */





/* main */

/* home section */
#home {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

#home img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#home div {
    position: absolute;
    top: 233px;
    text-align: center;
}

#home .home-title {
    font-size: 96px;
    font-weight: bold;
}

#home .home-desc {
    margin-top: 28px;
    font-size: 36px;
    font-weight: 500;
}

/* resume section */
#resume {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 60px;
}

@media only screen and (max-width:520px) {
    #resume {
        padding: 10px 30px;
    }
}

#resume .resume-inner {
    margin: 222px 0 120px;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width:960px) {
    #resume .resume-inner {
        display: block;
    }
}

#resume .resume-inner strong {
    font-size: 78px;
    font-weight: 700;
    white-space: pre-line;
}

@media only screen and (max-width:1079px) {
    #resume .resume-inner strong {
        font-size: 64px;
    }
}

@media only screen and (max-width:520px) {
    #resume .resume-inner strong {
        font-size: 48px;
    }
}

#resume .resume-subtitle {
    margin-top: 14px;
}

@media only screen and (max-width:960px) {
    #resume .resume-subtitle {
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (max-width:689px) {
    #resume .resume-subtitle {
        display: block;
    }
}

#resume .resume-subtitle p:nth-child(1) {
    font-size: 36px;
    font-weight: 700;
    white-space: pre-line;
}

#resume .resume-subtitle p:nth-child(2) {
    margin-top: 32px;
    font-size: 24px;
    font-weight: 400;
    color: #86868b;
    white-space: pre-line;
}

@media only screen and (max-width:960px) {
    #resume .resume-subtitle p:nth-child(1) {
        font-size: 24px;
        white-space: pre-line;
    }
    
    #resume .resume-subtitle p:nth-child(2) {
        margin-top: 0;
        font-size: 18px;
        white-space: pre;
    }
}

@media only screen and (max-width:689px) {
    #resume .resume-subtitle p:nth-child(2) {
        margin-top: 32px;
    }
}

#resume article {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 45px;
    margin-bottom: 12px;
    border-radius: 10px;
    background-color: #FBFBFD;
}

@media only screen and (max-width:520px) {
    #resume article {
        padding: 15px 22px;
    }
}

#resume article span {
    position: absolute;
    margin-top: 10px;
    width: 50px;
    height: 5px;
    background-color: #1d1d1f;
}

#resume article h3 {
    flex: 0.7;
    margin-top: 25px;
    font-size: 36px;
    font-weight: 700;
}

#resume article dl {
    display: flex;
    flex: 2.2;
    font-size: 18px;
    left: 500px;
    flex-wrap: wrap;
}

@media only screen and (max-width:960px) {
    #resume article dl {
        flex: auto;
    }
}

@media only screen and (max-width:750px) {
    #resume article dl {
        display: block;
        width: 100%;
    }
}

#resume article dl a {
    color: #86868b;
}

#resume article dl div {
    width: 100%;
    display:flex;
    margin: 6px 0;
}

@media only screen and (max-width:750px) {
    #resume .skill-set dl div{
        display: block;
    }
}

#resume .info dl div {
    width: 50%;
}

@media only screen and (max-width:750px) {
    #resume .info dl div {
        width: 100%;
    }
}

#resume article dl dt {
    width: 14%;
    font-weight: 500;
}

@media only screen and (max-width:1162px) {
    #resume article dl dt {
        width: 20%;
    }

}

@media only screen and (max-width:750px) {
    /* #resume .info dl dt {
        width: 20%;
    } */

    #resume .skill-set dl dt{
        width: 100%;
    }
}

#resume article dl dd {
    margin-left: 10px;
    font-weight: 400;
    color:#86868b;
}


#resume article ul {
    flex: 2.2;
    font-size: 18px;
}

@media only screen and (max-width:960px) {
    #resume article ul {
        flex: auto;
        width: 100%;
    }
}

#resume article ul li {
    margin: 6px 0;
}

#resume article ul li small {
    margin-left: 10px;
    font-weight: 250;
}

/* portfolio section */
#portfolio {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 60px;
}

@media only screen and (max-width:976px) {
    #portfolio {
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width:520px) {
    #portfolio {
        padding: 10px 30px;
    }
}

#portfolio h2 {
    width: 100%;
    margin-top: 96px;
    font-size: 96px;
    font-weight: 700;
    text-align: center;
}

@media only screen and (max-width:750px) {
    #portfolio h2 {
        font-size: 72px;
    }
}

@media only screen and (max-width:520px) {
    #portfolio h2 {
        font-size: 48px;
    }
}

#portfolio article {
    position: relative;
    margin-top: 80px;
    padding: 30px 45px;
    margin-bottom: 12px;
    border-radius: 10px;
    background-color: #FBFBFD;
}

@media only screen and (max-width:976px) {
    #portfolio article {
        width: 300px;
        height: 300px;
        margin: 0 auto;
        margin-bottom: 12px;
        border: solid 1px #F5F5F7;
    }
}

/* @media only screen and (max-width:750px) {
    #portfolio article {
        width: 100%;
        height: 100%;
    }
} */

#portfolio article h3 {
    margin-top: 25px;
    font-size: 36px;
    font-weight: 700;
}

#portfolio .portfolio-desc-bedge {
    position: absolute;
    top: 28px;
}

#portfolio article .team-bedge {
    padding: 4px 6px;
    color:#ffffff;
    background-color: #cf6f42;
    border-radius: 6px;
    line-height: 1;
}

#portfolio article .personal-bedge {
    padding: 4px 6px;
    color:#ffffff;
    background-color: #a342cf;
    border-radius: 6px;
    line-height: 1;
}

#portfolio article .project-link {
    padding: 4px 6px;
    color:#ffffff;
    background-color: #383838;
    border-radius: 6px;
    line-height: 1;
    font-size: smaller;
}

@media only screen and (max-width:976px) {
    #portfolio article dl {
        display: none;
    }
}

#portfolio article dl div{
    margin: 8px 0;
    display: flex;
}

#portfolio article dl div dt {
    width: 12%;
    font-size: 18px;
    font-weight: 400;
}

#portfolio article dl div dd {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 400;
    color: #86868b;
}

#portfolio .preview-img {
    height: 70%;
    width: 360px;
    float: right;
    position: absolute;
    top: 50%;
    right: 45px;
    overflow: hidden;
    background-color: #ffffff;
    transform: translateY(-50%);
}

@media only screen and (max-width:976px) {
    #portfolio .preview-img {
        height: 100%;
        width: 100%;
        float: none;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: #ffffff;
        transform: translateY(-50%) translateX(-50%);
    }
}

.preview-img img {
    height: 100%;
    width: 100%;
    object-fit: none;
}

/* footer */
footer {
    margin-top: 200px;
    padding: 80px 0;
    background-color: #F5F5F7;
}

footer .footer-inner {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 60px;
}

@media only screen and (max-width:520px) {
    footer .footer-inner {
        padding: 10px 30px;
    }
}

.footer-inner .footer-profile li:first-of-type {
    margin-bottom: 25px;
}

.footer-inner .footer-social {
    position: absolute;
    float: left;
    padding: 10px 60px;
    right: 0;
    top: 0;
}

@media only screen and (max-width:520px) {
    .footer-inner .footer-social {
        padding: 10px 30px;
    }
}

.footer-inner .footer-social li {
    display: inline;
    margin-left: 10px;
}

.footer-inner .footer-social img {
    width: 32px;
}

.footer-legal {
    padding: 10px 0;
    margin-top: 1em;
    border-top: solid 1px #d2d2d7;
    width: 100%;
}

.footer-legal .copyright {
    font-size: smaller;
    color: #6e6e73;
}


